{% extends "home/rnr/base.html" %}
{% block main_content %}



    <section class="pricingBanner">
        <img src="../../../../static/rnr/assets/img/wd/featureBanner.png" alt="" width="" height=""/>
        <div class="cont">
            <h1>We are Happy to See you</h1>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus.
            </p>
        </div>
    </section>
    <section class="ourLocations">
        <h1>Our Locations</h1>
        <div class="ourAddress">
            <div class="address">
                <h2>USA</h2>
                <h4>Richardson, TX</h4>
                <p>3520 Wilshire way Richardson, TX 75082, USA</p>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3346.152098732929!2d-96.69866758519852!3d32.99976527990226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c192f8d14909f%3A0x98ed13a34b023709!2s3520%20Wilshire%20Wy%2C%20Richardson%2C%20TX%2075082%2C%20USA!5e0!3m2!1sen!2s!4v1673442724475!5m2!1sen!2s"
                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="ourAddress">
            <div class="address">
                <h2>Pakistan</h2>
                <h4>Lahore, Punjab</h4>
                <p>3520 Wilshire way Richardson, TX 75082, USA</p>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3346.152098732929!2d-96.69866758519852!3d32.99976527990226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c192f8d14909f%3A0x98ed13a34b023709!2s3520%20Wilshire%20Wy%2C%20Richardson%2C%20TX%2075082%2C%20USA!5e0!3m2!1sen!2s!4v1673442724475!5m2!1sen!2s"
                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <section class="contactInfo">
        <div class="phoneEmail">
            <div class="phone">
                <h4>Phone</h4>
                <h5>(469) 450-4687</h5>
                <p>Our working hours from Mon-Fri, 10:00 am to 6:00 pm</p>
            </div>
            <div class="email">
                <h4>Email</h4>
                <h5>admin@workdaystream.com</h5>
                <p>Our support team will get back in 48-h during standard business hours.</p>
            </div>
        </div>
    </section>
    <section class="contactQuotation">
                <div class="quotation">
                    <div class="qimage">
                        <img src="../../../../static/rnr/assets/img/wd/quotationImage.png" alt="" width="" height="" />
                    </div>
                    <div>
                        <h1>"It is really refreshing to work with this software which is truly helpful in the client's
                            preferences."
                        </h1>
                        <p><strong>Rebecca Calderon</strong><br />Head of marketing, Apple Inc.</p>
                    </div>
                </div>
        </section>
    {#  <!-- Breadcrumb Area Start -->#}
    {#  <nav class="breadcrumb-area bg-dark bg-6 ptb-70">#}
    {#    <div class="container d-md-flex">#}
    {#      <h2 class="text-white mb-0">Contact Us</h2>#}
    {#      <ol class="breadcrumb p-0 m-0 bg-dark ml-auto">#}
    {#        <li class="breadcrumb-item"><a href="index.html">Home</a> <span class="text-white">/</span></li>#}
    {#        <li aria-current="page" class="breadcrumb-item active">Contact Us</li>#}
    {#      </ol>#}
    {#    </div>#}
    {#  </nav>#}
    {#  <!-- Breadcrumb Area End -->#}
    {#<section class="section-ptb">#}
    {#    <div class="container">#}
    {#        <div class="row text-center">#}
    {#            <div class="col-12" data-aos="zoom-in">#}
    {#                <div class="heading mb-80">#}
    {#                    <h3>Contact Us</h3>#}
    {#                    <h1 class="mb-25">We are Happy to See you</h1>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="row text-center">#}
    {#            <div class="col-12 col-md-6 col-lg-6 mb-sm-30 mb-md-30" data-aos="zoom-in">#}
    {#                <div class="card featured-item">#}
    {#                    <div class="card-body ptb-45">#}
    {#                        <div class="icon circle-icon mb-30 mx-auto">#}
    {#                            <i class="ti-mobile"></i>#}
    {#                        </div>#}
    {#                        <h5>Phone</h5>#}
    {#                        <p class="mb-20">Our working hours from Mon-Fri, 10:00 am to 6:00 pm</p>#}
    {#                        <a class="axil-link" href="tel:4694504687">(469) 450-4687</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <!-- Single Featured End -->#}
    {#            <div class="col-12 col-md-6 col-lg-6 mb-sm-30 mb-md-30" data-aos="zoom-in" data-aos-delay="400">#}
    {#                <div class="card featured-item">#}
    {#                    <div class="card-body ptb-45">#}
    {#                        <div class="icon circle-icon mb-30 mx-auto">#}
    {#                            <i class="ti-email"></i>#}
    {#                        </div>#}
    {#                        <h5>Email</h5>#}
    {#                        <p class="mb-20">Our support team will get back to in 48-h during standard business hours.</p>#}
    {#                        <a href="mailto:example@gmail.com">admin@workdaystream.com</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#</section>#}
    {##}
    {#<section>#}
    {#    <div class="row m-5">#}
    {#        <!-- Start Single Location  -->#}
    {#        <div class="col-lg-12 col-md-12 col-sm-12 col-12">#}
    {#            <div class="mt--30 wow move-up animate" style="opacity: 50; visibility: visible; text-align: center;">#}
    {#                <div class="thumbnail">#}
    {#                    <img class="image-primary"  src="../../../../static/rnr/assets/img/map-ping.png" alt="Location Images">#}
    {#                </div>#}
    {#                <div class="content">#}
    {#                    <h4 class="display-1 mt--5">Richardson, TX</h4>#}
    {#                    <p class="display-3">3520, Wilshire Way, Richardson, TX 75082,<br>USA</p>#}
    {#                    <a class="btn btn-sm btn-primary rounded" target="_blank"#}
    {#                       href="https://www.google.com/maps/place/3520+Wilshire+Way+%232115,+Richardson,+TX+75082/@33.0003706,-96.6997158,17z/data=!3m1!4b1!4m5!3m4!1s0x864c192f8dd1e595:0xa04ce184ff54e6c9!8m2!3d33.0003706!4d-96.6975271">#}
    {#                        View on Map</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <!-- End Single Location  -->#}
    {##}
    {#        <!-- Start Single Location  -->#}
    {#        <div class="col-lg-6 col-md-6 col-sm-6 col-12">#}
    {#            <div class="mt--30 wow move-up animate" style="opacity: 50; visibility: visible;">#}
    {#                <div class="thumbnail">#}
    {#                    <img src="../../../../static/rnr/assets/img/lahore_logo.png" alt="Location Images">#}
    {#                </div>#}
    {#                <div class="content">#}
    {#                    <h4 class="display-1 mt--5">Lahore</h4>#}
    {#                    <p class="display-3">7-8 Mini Market, Canal View <br> Pakistan</p>#}
    {#                    <a class="btn btn-sm btn-primary rounded" target="_blank"#}
    {#                       href="https://www.google.com/maps/search/7-8+Mini+Market,+Canal+View,+Lahore/@31.4786931,74.2498504,16z/data=!3m1!4b1">#}
    {#                        View on Map</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <!-- End Single Location  -->#}
    {##}
    {#    </div>#}
    {#</section>#}

    <!-- Contact Area Start -->
    {#  <section class="contact-area section-ptb white-bg">#}
    {#    <div class="container">#}
    {#      <div class="row mb-70 d-flex align-items-center">#}
    {#        <div class="col-12 col-md-6 col-lg-7 mb-sm-30">#}
    {#          <div class="gmap-area">#}
    {#            <div class="google-map height-330" id="googleMap"></div>#}
    {#          </div>#}
    {#        </div>#}
    {#        <div class="col-12 col-md-6 offset-lg-1 col-lg-4">#}
    {#          <div class="contact-info">#}
    {#            <h2>Contact Info</h2>#}
    {#            <hr class="line line-sm">#}
    {#            <ul class="list-unstyled">#}
    {#              <li><span>Phone:</span> <a href="tel:+98-589-698-589">+98 589 698 589</a></li>#}
    {#              <li><span>Email:</span> <a href="mailto:companyname@mail.com">companyname@mail.com</a></li>#}
    {#              <li><span>Fax:</span> <a href="fax:58-598-575">58 598 575</a></li>#}
    {#            </ul>#}
    {#            <hr class="line max-w mb-20">#}
    {#            <p>Your Address Here, South Bonossrri, <br class="d-none d-md-block"> Dhaka, Bangladesh 1221</p>#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}
    {#      <!-- Contact Info End -->#}
    {#      <div class="row">#}
    {#        <div class="col-12">#}
    {#          <div class="contact-form">#}
    {#            <h2>Leave a Message</h2>#}
    {#            <hr class="line line-sm mb-40">#}
    {#            <form class="form-group" id="contact_form" action="contact-from.php" method="post">#}
    {#              <div class="row">#}
    {#                <div class="col-12 col-md-6">#}
    {#                  <input class="form-control" type="text" name="name" id="contact_name" placeholder="Your Name">#}
    {#                </div>#}
    {#                <div class="col-12 col-md-6">#}
    {#                  <input class="form-control" type="email" name="email" id="contact_email" placeholder="Your Email">#}
    {#                </div>#}
    {#              </div>#}
    {#              <input class="form-control" type="text" name="subject" id="contact_subject" placeholder="Subject">#}
    {#              <textarea class="form-control" name="message" id="contact_message" rows="3" placeholder="Your Message"></textarea>#}
    {#              <button class="btn btn-primary mt-5" type="submit" id="contact_submit" data-complete-text="Well done!">Send Message</button>#}
    {#            </form>#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}
    {#      <!-- Contact From End -->#}
    {#    </div>#}
    {#  </section>#}
    <!-- Contact Area End -->

{% endblock %}