{% extends "home/rnr/base.html" %}
{% block main_content %}

 <main class="main">
        <section class="featureBanner">
            <img src="../../../../static/rnr/assets/img/wd/featureBanner.png" alt="" width="" height="" />
            <div class="cont">
                <h1>What is workDayStream</h1>
                <p>A fully integrated software that can streamline onboarding, employee management and Payroll.
                    <span>WorkDayStream</span> features a complete Time Tracking, PTO Management, Project, Tasks and
                    Goals tracking
                    integration.
                </p>
            </div>
        </section>
        <section class="featureDetail">
            <img class="fTopLeftWave" src="../../../../static/rnr/assets/img/wd/fTopLeftWave.png" alt="" width="" height="" />
            <img class="fTopRightCircle" src="../../../../static/rnr/assets/img/wd/fTopRightCircle.png" alt="" width="" height="" />
            <img class="fLeftMiddleDots" src="../../../../static/rnr/assets/img/wd/fLeftMiddleDots.png" alt="" width="" height="" />
            <img class="fRightMiddleDots" src="../../../../static/rnr/assets/img/wd/fRightMiddleDots.png" alt="" width="" height="" />
            <img class="fLeftBottomDots" src="../../../../static/rnr/assets/img/wd/fLeftBottomDots.png" alt="" width="" height="" />
            <img class="fRightBottomWave" src="../../../../static/rnr/assets/img/wd/fRightBottomWave.png" alt="" width="" height="" />
            <div class="allFeatureDetail">
                <div class="outerflex">
                    <div class="featureText">
                        <h1>Onboading</h1>
                        <p>A comprehensive onboarding process to hire talent for your company.</p>
                        <a href="#">Discover more <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" /></a>
                    </div>
                    <div class="featureImage">
                        <img src="../../../../static/rnr/assets/img/wd/onboardingFeature.png" alt="" width="" height="" />
                    </div>
                </div>
                <div class="outerflex">
                    <div class="featureImage">
                        <img src="../../../../static/rnr/assets/img/wd//projectmanagementFeature.png" alt="" width="" height="" />
                    </div>
                    <div class="featureText">
                        <h1>Project Management</h1>
                        <p>A comprehensive onboarding process to hire talent for your company.</p>
                        <a href="#">Discover more <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" /></a>
                    </div>

                </div>
                <div class="outerflex">
                    <div class="featureText">
                        <h1>PTO Tracking</h1>
                        <p>A comprehensive onboarding process to hire talent for your company.</p>
                        <a href="#">Discover more <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" /></a>
                    </div>
                    <div class="featureImage">
                        <img src="../../../../static/rnr/assets/img/wd/ptoFeature.png" alt="" width="" height="" />
                    </div>
                </div>
                <div class="outerflex">
                    <div class="featureImage">
                        <img src="../../../../static/rnr/assets/img/wd/payrollFeature.png" alt="" width="" height="" />
                    </div>
                    <div class="featureText">
                        <h1>Payroll Management</h1>
                        <p>A comprehensive onboarding process to hire talent for your company.</p>
                        <a href="#">Discover more <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" /></a>
                    </div>

                </div>
                <div class="outerflex">
                    <div class="featureText">
                        <h1>Leave Management</h1>
                        <p>A comprehensive onboarding process to hire talent for your company.</p>
                        <a href="#">Discover more <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" /></a>
                    </div>
                    <div class="featureImage">
                        <img src="../../../../static/rnr/assets/img/wd/leaveFeature.png" alt="" width="" height="" />
                    </div>
                </div>
                <div class="outerflex">
                    <div class="featureImage">
                        <img src="../../../../static/rnr/assets/img/wd/goalFeature.png" alt="" width="" height="" />
                    </div>
                    <div class="featureText">
                        <h1>Goal Tracking</h1>
                        <p>A comprehensive onboarding process to hire talent for your company.</p>
                        <a href="#">Discover more <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" /></a>
                    </div>

                </div>
                <div class="outerflex">
                    <div class="featureText">
                        <h1>Detail Reporting</h1>
                        <p>A comprehensive onboarding process to hire talent for your company.</p>
                        <a href="#">Discover more <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" /></a>
                    </div>
                    <div class="featureImage">
                        <img src="../../../../static/rnr/assets/img/wd/detailFeature.png" alt="" width="" height="" />
                    </div>
                </div>
                <div class="outerflex">
                    <div class="featureImage">
                        <img src="../../../../static/rnr/assets/img/wd//dataFeature.png" alt="" width="" height="" />
                    </div>
                    <div class="featureText">
                        <h1>Data Analysis</h1>
                        <p>A comprehensive onboarding process to hire talent for your company.</p>
                        <a href="#">Discover more <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" /></a>
                    </div>

                </div>
            </div>
        </section>
        <section class="ourSoftwareFeature">
            <img class="ourSoftwareTopLeft" src="../../../../static/rnr/assets/img/wd/ourSoftwareTopLeft.png" alt="" width="" height="" />
            <img class="ourSoftwareBottomRight" src="../../../../static/rnr/assets/img/wd/ourSoftwareBottomRight.png" alt="" width="" height="" />
            <div class="ourFeature">
                <span class="tag">MORE FEATURES</span>
                <h2>Find out more from our software</h2>
                <div class="freeLibrary">
                    <div class="onlyLibrary">
                        <img class="main" src="../../../../static/rnr/assets/img/wd/freeLibary.png" alt="" width="" height="" />
                        <h4>Free Library</h4>
                        <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        <a href="#">
                            <span>See the library</span>
                            <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" />
                        </a>
                    </div>
                    <div class="onlyLibrary">
                        <img class="main" src="../../../../static/rnr/assets/img/wd/freeLibary.png" alt="" width="" height="" />
                        <h4>Free Library</h4>
                        <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        <a href="#">
                            <span>See the library</span>
                            <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" />
                        </a>
                    </div>
                    <div class="onlyLibrary">
                        <img class="main" src="../../../../static/rnr/assets/img/wd/freeLibary.png" alt="" width="" height="" />
                        <h4>Free Library</h4>
                        <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        <a href="#">
                            <span>See the library</span>
                            <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" />
                        </a>
                    </div>
                    <div class="onlyLibrary">
                        <img class="main" src="../../../../static/rnr/assets/img/wd/freeLibary.png" alt="" width="" height="" />
                        <h4>Free Library</h4>
                        <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        <a href="#">
                            <span>See the library</span>
                            <img src="../../../../static/rnr/assets/img/wd/rightLongArrow.png" alt="" width="" height="" />
                        </a>
                    </div>
                </div>
                <h1>Improve your business and make your work easy</h1>
                <button class="btn" onclick="window.location.href='{% url 'signup' %}'">Start Free Trail</button>
            </div>
        </section>
    </main>

{% endblock %}
