{% extends "home/rnr/base.html" %}
{% block main_content %}
   <main class="main">
        <section class="pricingBanner">
            <img src="../../../../static/rnr/assets/img/wd/featureBanner.png" alt="" width="" height="" />
            <div class="cont">
                <h1>Pricing that suits your needs</h1>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                    placeat facere possimus.
                </p>
            </div>
        </section>
        <section class="pricingCards">
            <img class="fTopRightCircle" src="../../../../static/rnr/assets/img/wd/fTopRightCircle.png" alt="" width="" height="" />
            <img class="pTopLeftWave" src="../../../../static/rnr/assets/img/wd/pTopLeftWave.png" alt="" width="" height="" />
            <div class="innerPricingCards">
                <div class="singleCard">
                    <div>
                        <h1>Standard</h1>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
                        <div class="money">
                            <h2><span>$</span>0</h2>
                            <h3>/month</h3>
                        </div>
                        <ul>
                            <li>Attendance Management</li>
                            <li>Employee On Boarding</li>
                            <li>Payroll Management</li>
                            <li>Project Management</li>
                            <li>Goal Tracking</li>
                        </ul>
                    </div>
                    <button onclick="window.location.href='{% url 'signup' %}'" class="btn">Sign Up</button>
                </div>
                <div class="singleCard">
                    <div>
                        <h1>Professional</h1>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
                        <div class="money">
                            <h2><span>$</span>3</h2>
                            <h3>/month</h3>
                        </div>
                        <ul>
                            <li>Attendance Management</li>
                            <li>Employee On Boarding</li>
                            <li>Payroll Management</li>
                            <li>Project Management</li>
                            <li>Goal Tracking</li>
                            <li>Reporting</li>
                        </ul>
                    </div>
                    <button onclick="window.location.href='{% url 'signup' %}'" class="btn">Sign Up</button>
                </div>
                <div class="singleCard">
                    <div>
                        <h1>Enterprise</h1>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
                        <div class="money">
                            <h2 class="enterprise">Contact Us</h2>
                        </div>
                        <ul>
                            <li>Attendance Management</li>
                            <li>Employee On Boarding</li>
                            <li>Payroll Management</li>
                            <li>Project Management</li>
                            <li>Goal Tracking</li>
                            <li>Reporting</li>
                            <li>Analysis</li>
                        </ul>
                    </div>
                    <button onclick="window.location.href='{% url 'contact_page' %}'" class="btn">Contact Us</button>
                </div>
            </div>
        </section>
        <section class="someClients">
            <img class="pricePlanMiddleWave" src="../../../../static/rnr/assets/img/wd/pricePlanMiddleWave.png" alt="" width="" height="" />
            <div class="innersomeClients">
                <span class="tag">our clients</span>
                <h1 class="main">Some of our Clients</h1>
                <p class="main">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                    id quod maxime placeat facere possimus.</p>
                <div class="someClientsLogo">
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client1.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client2.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client3.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client4.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client5.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client6.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client7.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client8.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client9.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client10.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client11.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client12.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client13.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client14.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client15.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client16.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client17.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client18.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client19.png" alt="" width="" height="" />
                    </div>
                    <div class="clientlogo">
                        <img src="../../../../static/rnr/assets/img/wd/client20.png" alt="" width="" height="" />
                    </div>
                </div>
            </div>
        </section>
        <section class="startQuotation">
            <img class="startQuotationTopRightDot" src="../../../../static/rnr/assets/img/wd/startQuotationTopRightDot.png" alt="" width="" height="">
            <img class="startQuotationBottomRightWave" src="../../../../static/rnr/assets/img/wd/startQuotationBottomRightWave.png" alt="" width=""
                height="">
            <div class="outer">
                <div class="quotation">
                    <div>
                        <img src="../../../../static/rnr/assets/img/wd/quotationImage.png" alt="" width="" height="" />
                    </div>
                    <div>
                        <h1>"It is really refreshing to work with this software which is truly helpful in the client's
                            preferences."
                        </h1>
                        <p><strong>Rebecca Calderon</strong><br />Head of marketing, Apple Inc.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="startFreeTrail">
            <img class="startFreeTrailTopLeftDot" src="../../../../static/rnr/assets/img/wd/startFreeTrailTopLeftDot.png" alt="" width="" height="" />
            <div class="innerStartFreeTrail">
                <h1>Improve your business and make your work easy</h1>
                <button onclick="window.location.href='{% url 'signup' %}'" class="btn">Start Free Trail</button>
            </div>
        </section>
    </main>
{% endblock %}