{% extends 'base.html' %}
{% load static %}
{% load accounts_tags %}
{% load widget_tweaks %}
{% block title %} Equipments {{ block.super }} {% endblock %}
{% block content %}
    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Page Content -->
        <div class="content container-fluid">
            {% include 'messages.html' %}
            <!-- Page Header -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Equipment</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Equipment</li>
                        </ul>
                    </div>
                    <div class="col-auto float-right ml-auto">
                        <a href="javascript:void(0);" class="btn add-btn" data-toggle="modal" data-target="#add_asset"><i
                                class="fa fa-plus"></i> Add Equipment</a>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <!-- Search Filter -->
            <form method="post" id="equipment-search-form"  class="row filter-row">
                {% csrf_token %}
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus select-focus">
                        <select class="select floating" name="user_id">
                            <option value="">-----</option>
                            <option value="None">None</option>
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user }}</option>
                            {% endfor %}
                        </select>
                        <label class="focus-label">Employee Name</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus select-focus">
                        <select name="status" class="select floating">
                            <option value=""> -------</option>
                            <option value="Stocked"> Stocked</option>
                            <option value="Deployed"> Deployed</option>
                            <option value="Assigned"> Assigned</option>
                            <option value="Damaged"> Damaged</option>
                        </select>
                        <label class="focus-label">Status</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="row">
                        <div class="col-sm-8 col-md-8">
                            <div class="form-group form-focus">
                                <input name="equipment_name" type="text" class="form-control floating">
                                <label class="focus-label">Equipment Name</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <button type="submit" class="btn btn-success btn-block"> Search</button>
                </div>
            </form>
            <!-- /Search Filter -->

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Equipment User</th>
                                <th>Equipment Name</th>
                                <th>Equipment Id</th>
                                <th>Purchase Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th class="text-center">Status</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody id="equipment-search-table">
                            {% for equipment in equipments %}
                                <tr id="equipment-{{ equipment.id }}">
                                    <td>
                                        {% if equipment.assign_to %}
                                            <h2 class="table-avatar">
{#                                                <a href="javascript:void(0);" class="avatar avatar-xs">#}
{#                                                    {% if equpiment.assigned_to.profile_pic %}#}
{#                                                        <img src="{{ equpiment.assigned_to.profile_pic.url }}" alt=""/>#}
{#                                                    {% else %}#}
{#                                                        <img src="{% static 'assets/img/user.jpg' %}" alt=""/>#}
{#                                                    {% endif %}#}
{#                                                </a>#}
                                                <a href="javascript:void(0);">{{ equipment.assign_to }}</a>
                                            </h2>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <strong>{{ equipment.name }}</strong>
                                    </td>
                                    <td>{{ equipment.equipment_code }}</td>
                                    <td>{{ equipment.purchase_date }}</td>
                                    <td>{{ equipment.description }}</td>
                                    <td>{{ equipment.price }}</td>
                                    <td class="text-center">
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href=""
                                               data-toggle="dropdown" aria-expanded="false">
                                                {% if equipment.status == 'New' %}
                                                    <i class="fa fa-dot-circle-o text-purple"></i>
                                                {% elif equipment.status == 'Assigned' %}
                                                    <i class="fa fa-dot-circle-o text-info"></i>
                                                {% elif equipment.status == 'Deployed' %}
                                                    <i class="fa fa-dot-circle-o text-success"></i>
                                                {% elif equipment.status == 'Stocked' %}
                                                    <i class="fa fa-dot-circle-o text-danger"></i>
                                                {% elif equipment.status == 'Damaged' %}
                                                    <i class="fa fa-dot-circle-o text-purple"></i>
                                                {% endif %}{{ equipment.status }}
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"
                                                   href="{% url 'equipment_status_update' equipment_id=equipment.id name='Stocked' %}"><i
                                                        class="fa fa-dot-circle-o text-danger"></i> Stocked</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'equipment_status_update' equipment_id=equipment.id name='Deployed' %}"><i
                                                        class="fa fa-dot-circle-o text-success"></i> Deployed</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'equipment_status_update' equipment_id=equipment.id name='Assigned' %}"><i
                                                        class="fa fa-dot-circle-o text-info"></i> Assigned</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'equipment_status_update' equipment_id=equipment.id name='Damaged' %}"><i
                                                        class="fa fa-dot-circle-o text-purple"></i> Damaged</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="javascript:void(0)" class="action-icon dropdown-toggle"
                                               data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item EditEquipment" href="javascript:void(0)"
                                                   data-EquipmentEditURL="{% url 'equipment_edit' pk=equipment.pk %}"
                                                   data-toggle="modal" data-target="#edit_asset"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item DeleteEquipment" href="javascript:void(0)"
                                                   data-EquipmentDeleteURL="{% url 'equipment_delete' pk=equipment.id %}"
                                                   data-toggle="modal" data-target="#delete_asset"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->

        <!-- Add Asset Modal -->
        <div id="add_asset" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Equipment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'equipments' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Equipment Name</label>
                                        {% render_field equipmentForm.name class="form-control" required="required" %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Equipment Id</label>
                                        {% render_field equipmentForm.equipment_code class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Purchase Date</label>
                                        {% render_field equipmentForm.purchase_date class="form-control" required="required" %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Serial Number</label>
                                        {% render_field equipmentForm.model_number class="form-control" required="required" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Manufacturer</label>
                                        {% render_field equipmentForm.manufacturer class="form-control" required="required" %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Model</label>
                                        {% render_field equipmentForm.model_number class="form-control" required="required" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {#											<div class="form-group">#}
                                    {#												<label>Serial Number</label>#}
                                    {#                                                {% render_field equipmentForm.model_number class="form-control" %}#}
                                    {#											</div>#}
                                </div>
                                <div class="col-md-6">
                                    {#											<div class="form-group">#}
                                    {#												<label>Supplier</label>#}
                                    {#												<input class="form-control" type="text">#}
                                    {#											</div>#}
                                </div>
                                <div class="col-md-6">
                                    {#											<div class="form-group">#}
                                    {#												<label>Condition</label>#}
                                    {#												<input class="form-control" type="text">#}
                                    {#											</div>#}
                                </div>
                                <div class="col-md-6">
                                    {#											<div class="form-group">#}
                                    {#												<label>Warranty</label>#}
                                    {#												<input class="form-control" type="text" placeholder="In Months">#}
                                    {#											</div>#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Value</label>
                                        {% render_field equipmentForm.price class="form-control" placeholder="$1234" required="required" %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Equipment User</label>
                                        {% render_field equipmentForm.assign_to class="form-control" %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        {% render_field equipmentForm.description class="form-control" required="required" %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        {% render_field equipmentForm.status class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <div class="submit-section">
                                <button class="btn btn-primary submit-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add Asset Modal -->

        <!-- Edit Asset Modal -->
        <div id="edit_asset" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Equipment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="equipment_edit_form" class="modal-body">

                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Asset Modal -->

        <!-- Delete Asset Modal -->
        <div class="modal custom-modal fade" id="delete_asset" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header">
                            <h3>Delete Equipment</h3>
                            <p>Are you sure want to delete?</p>
                        </div>
                        <div class="modal-btn delete-action">
                            <div class="row">
                                <div class="col-6">
                                    <a id="DeleteEquipment" href="javascript:void(0);"
                                      Data-DeleteEquipmentClick="" class="btn btn-primary continue-btn equipmentDeleteClick">Delete</a>
                                </div>
                                <div class="col-6">
                                    <a href="javascript:void(0);" data-dismiss="modal"
                                       class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Delete Asset Modal -->

    </div>
    <!-- /Page Wrapper -->
{% endblock %}