{% extends "base.html" %}
{% load static %}
{% block title %}Employees {{ block.super }} {% endblock %}
{% block content %}
    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Page Content -->
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Employees</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Employees</li>
                        </ul>
                    </div>
                    <div class="col-auto float-right ml-auto mb-1">
                        <a href="{% url 'hierarchy' %}" class="btn add-btn"><i
                                class="fa fa-group"></i> Hierarchy</a>
                    </div>
                    <div class="col-auto float-right ml-auto">
                        <a href="{% url 'new_employee' %}" class="btn add-btn"><i
                                class="fa fa-plus"></i> Add Employee</a>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div id="allEmployeesMessages">
                {% include "messages.html" %}
            </div>
            <!-- Search Filter -->
            {#            <div class="row filter-row">#}
            {#                <div class="col-sm-6 col-md-3">#}
            {#                    <div class="form-group form-focus">#}
            {#                        <input type="text" class="form-control floating">#}
            {#                        <label class="focus-label">Employee ID</label>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-sm-6 col-md-3">#}
            {#                    <div class="form-group form-focus">#}
            {#                        <input type="text" class="form-control floating">#}
            {#                        <label class="focus-label">Employee Name</label>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-sm-6 col-md-3">#}
            {#                    <div class="form-group form-focus select-focus">#}
            {#                        <select class="select floating">#}
            {#                            <option>Select Designation</option>#}
            {#                            <option>Web Developer</option>#}
            {#                            <option>Web Designer</option>#}
            {#                            <option>Android Developer</option>#}
            {#                            <option>Ios Developer</option>#}
            {#                        </select>#}
            {#                        <label class="focus-label">Designation</label>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-sm-6 col-md-3">#}
            {#                    <a href="employees.html#" class="btn btn-success btn-block"> Search </a>#}
            {#                </div>#}
            {#            </div>#}
            <!-- Search Filter -->

            <div class="row staff-grid-row">
                {% for user in users %}
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                        <div class="profile-widget" style="height:212px">
                            <div class="profile-img">
                                <a href="{% url 'myprofile_detail' user.id %}">
                                    {% if user.profile_pic %}
                                        <img class="avatar" src="{{ user.profile_pic.url }}"
                                             alt="Profile Pic">
                                    {% else %}
                                        <img class="avatar" src="{% static 'assets/img/user.jpg' %}"
                                             alt="Profile Pic">
                                    {% endif %}
                                </a>
                            </div>
{#                            <div class="dropdown profile-action">#}
                            {#                                <a href="javascript:void(0)" class="action-icon dropdown-toggle" data-toggle="dropdown"#}
                            {#                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>#}
                            {#                                <div class="dropdown-menu dropdown-menu-right">#}
                            {#                                    <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal"#}
                            {#                                       data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>#}
                            {#                                    {% if user.on_boarding == False %}#}
                            {#                                        <a id="resendOnBoardingLink" class="dropdown-item"#}
                            {#                                           data-OnboardResendLinkURL="{% url 'on_boarding_resend_link' user.id %}"#}
                            {#                                           title="Resend on-boarding link" href="javascript:void(0)">#}
                            {#                                            <i class="fa fa-send m-r-5"> Resend</i></a>#}
                            {#                                    {% endif %}#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                    href="{% url 'myprofile_detail' user.id %}">{{ user.get_full_name | title }}</a></h4>
                            <div class="small text-muted">{{ user.designation | title }}</div>
                            {% if user.on_boarding == False %}
                                <a id="resendOnBoardingLink" class="btn btn-white btn-sm m-t-10"
                                   data-OnboardResendLinkURL="{% url 'on_boarding_resend_link' user.id %}"
                                   title="Resend on-boarding link" href="javascript:void(0)">
                                    <i class="fa fa-send m-r-5"> Resend Link</i></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Wrapper -->
{% endblock %}