{% extends "registration/reg_base.html" %}
{% load static %}
{% block title %}Password Reset Complete {{ block.super }} {% endblock title %}
{% block content %}
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <div class="account-content">
            <div class="container">

                <!-- Account Logo -->
                <div class="account-logo">
                    <img src="{% static 'assets/img/logo.png' %}"
                         alt="WorkDayStream Logo">
                </div>
                <!-- /Account Logo -->

                <div class="account-box">
                    <div class="account-wrapper">
                        <h3 class="account-title">Password Reset Complete</h3>
                        <p class="account-subtitle">Your new password has been set</p>
                        <p class="account-subtitle">You can <a href="{% url 'login' %}">Login</a> now</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->

{% endblock %}