{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load accounts_tags %}
{% block title %}Project Task Board {{ block.super }} {% endblock %}
{% block content %}
    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Page Content -->
        <div class="content container-fluid">
            {% include 'messages.html' %}
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">{{ project.name }}</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Task Board</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="notification-popup hide">
                <p>
                    <span class="task"></span>
                    <span class="notification-text"></span>
                </p>
            </div>
            <div class="row board-view-header">
                <div class="col-4">
                    <div class="pro-teams">
                        <div class="pro-team-lead">
                            <h4>Lead</h4>
                            <div class="avatar-group">
                                <div class="avatar"> {% if project.lead_by.profile_pic %}
                                    <img class="avatar-img rounded-circle border border-white" alt="User Image"

                                         src="{{ project.lead_by.profile_pic.url }}">{% else %}
                                    <img src="{% static 'assets/img/user.jpg' %}">{% endif %}
                                </div>
                                {#                                {% if_has_access user.id 'owner projects' %}#}
                                {#                                    <div class="avatar">#}
                                {#                                        <a href="javascript:void(0)"#}
                                {#                                           class="avatar-title rounded-circle border border-white"#}
                                {#                                           data-toggle="modal" data-target="#assign_leader"><i#}
                                {#                                                class="fa fa-plus"></i></a>#}
                                {#                                    </div>#}
                                {#                                {% endif_has_access %}#}
                            </div>

                        </div>
                        <div class="pro-team-members">
                            <h4>Team</h4>
                            <div class="avatar-group">
                                {% for member in project.team.all %}
                                    <div class="avatar"> {% if member.profile_pic %}
                                        <img class="avatar-img rounded-circle border border-white" alt="User Image"
                                             src="{{ member.profile_pic.url }}"
                                        > {% else %}<img src="{% static 'assets/img/user.jpg' %}">{% endif %}
                                    </div>
                                {% endfor %}
                                {#                                {% if_has_access user.id 'owner projects' %}#}
                                {#                                    <div class="avatar">#}
                                {#                                        <a href="javascript:void(0)"#}
                                {#                                           class="avatar-title rounded-circle border border-white"#}
                                {#                                           data-toggle="modal" data-target="#assign_user"><i class="fa fa-plus"></i></a>#}
                                {#                                    </div>#}
                                {#                                {% endif_has_access %}#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 text-right">
                    <a href="{% url 'atask_board' pk=project.id %}" class="btn btn-white float-right ml-2" data-toggle="tooltip"
                       title=""><i class="fa fa-archive"></i> Archive Board</a>

                    <a href="javascript:void(0)" class="btn btn-white float-right ml-2" data-toggle="modal"
                       data-target="#add_task_board"><i class="fa fa-plus"></i> Create List</a>

                    <a href="{% url 'project' pk=project.id %}" class="btn btn-white float-right ml-2" data-toggle="tooltip"
                       title=""><i class="fa fa-link"></i> Project</a>
                </div>

                <div class="col-12">
                    <div class="pro-progress">
                        <div class="pro-progress-bar">
                            <h4>Progress</h4>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{ project.progress }}"></div>
                            </div>
                            <span>{{ project.progress }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kanban-board card mb-0">
                <div class="card-body">
                    <div class="kanban-cont">

                        {% for board in boards %}
                            <div class="kanban-list kanban-{{ board.color }}" data-BoardID="{{ board.id }}"
                                 data-type="dynamic">
                                <div class="kanban-header">
                                    <a class="status-title" href="{% url 'expand_tasks_list' project.id board.id %}"> {{ board.name }} </a>

                                    <div class="dropdown kanban-action">
                                        <a href="" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" id="TaskBoardEdit"
                                               data-TaskBoardEdit="{% url 'edit_task_board' pk=board.id %}"
                                               href="javascript:void(0)">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal"
                                               data-target="#delete_board-{{ board.id }}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <div {% if board.board_cards %}class="dynamicKanban kanban-wrap" {% else %}
                                     class="dynamicKanban kanban-wrap ks-empty" {% endif %}>
                                    {% for card in board.board_cards.all %}
                                        {% if not card.archived %}
                                            <div data-cardid="{{ card.id }}" class="card panel">
                                            <div class="kanban-box">
                                                <div class="task-board-header">
                                                    <span class="status-title">
                                                        <h4><a href="javascript:void(0)" id="GetCard"
                                                               data-GetCard="{% url 'get_card' card.id %}">
                                                            {{ card.name }}</a>
                                                        </h4>
                                                    </span>
                                                    <div class="dropdown kanban-task-action">
                                                        <a href="" data-toggle="dropdown">
                                                            <i class="fa fa-angle-down"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="{% url 'toggle_archive_tasks' 'archive' card.id %}"
                                                               >Archive</a>
                                                            <a class="dropdown-item" href="javascript:void(0)"
                                                               id="EditCard"
                                                               data-EditCard="{% url 'edit_card' pk=card.id %}">Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0)"
                                                               data-toggle="modal"
                                                               data-target="#delete_card-{{ card.id }}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="task-board-body">
                                                    <div>
                                                        <h5>Status:
                                                            <span class=" badge badge-pill badge-primary">{{ card.status | title }}</span>
                                                        </h5>
                                                    </div>
                                                    <div class="kanban-info">
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar" role="progressbar"
                                                                 style="width: {{ card.progress }}%"
                                                                 aria-valuenow="{{ card.progress }}" aria-valuemin="0"
                                                                 aria-valuemax="100"></div>
                                                        </div>
                                                        <span>{{ card.progress }}%</span>
                                                    </div>
                                                    <div class="kanban-footer">
														<span class="task-info-cont">
															<span class="task-date"><i
                                                                    class="fa fa-clock-o"></i> {{ card.due_date | date }}</span>
                                                            <label>Priority: </label>
															<span {% if card.priority == 'High' %}
                                                                class="task-priority badge bg-inverse-danger" {% elif card.priority == 'Medium' %}
                                                                class="task-priority badge bg-inverse-warning"{% else %}
                                                                class="task-priority badge bg-inverse-success"{% endif %}>{{ card.priority }}</span>
														</span>
                                                        <span class="task-users">
                                                        {% for member in card.assign_to.all %}
                                                            <img alt=""
                                                                    {% if member.profile_pic %}
                                                                 src="{{ member.profile_pic.url }}"
                                                                    {% else %}
                                                                 src="{% static 'assets/img/user.jpg' %}"
                                                                    {% endif %}
                                                                 class="task-avatar" width="24" height="24">
                                                        {% endfor %}
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <div class="add-new-task">
                                    <a href="javascript:void(0);" id="AddCard"
                                       data-AddCard="{% url 'add_card' pk=board.id %}">Add New
                                        Task</a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>
        <!-- /Page Content -->

        <div id="add_task_board" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Task Board</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'add_board' %}">
                            {% csrf_token %}
                            {% render_field board_form.project hidden="hidden" %}
                            <div class="form-group">
                                <label>Task Board Name</label>
                                {% render_field board_form.name class="form-control" %}
                            </div>
                            <div class="form-group task-board-color">
                                <label>Task Board Color</label>
                                <div class="board-color-list">
                                    <label class="board-control board-primary">
                                        <input name="radio" type="radio" class="board-control-input" value="primary"
                                               checked="">
                                        <span class="board-indicator"></span>
                                    </label>
                                    <label class="board-control board-success">
                                        <input name="radio" type="radio" class="board-control-input" value="success">
                                        <span class="board-indicator"></span>
                                    </label>
                                    <label class="board-control board-info">
                                        <input name="radio" type="radio" class="board-control-input" value="info">
                                        <span class="board-indicator"></span>
                                    </label>
                                    <label class="board-control board-purple">
                                        <input name="radio" type="radio" class="board-control-input" value="purple">
                                        <span class="board-indicator"></span>
                                    </label>
                                    <label class="board-control board-warning">
                                        <input name="radio" type="radio" class="board-control-input" value="warning">
                                        <span class="board-indicator"></span>
                                    </label>
                                    <label class="board-control board-danger">
                                        <input name="radio" type="radio" class="board-control-input" value="danger">
                                        <span class="board-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="edit_task_board" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Task Board</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="edit_task_board_form" class="modal-body">

                    </div>
                </div>
            </div>
        </div>

        <div id="new_project" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Project</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Project Name</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="submit-section">
                                <button class="btn btn-primary submit-btn">Create Project</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Task Modal -->
        <div id="add_task_modal" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Task</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="add_task_form">

                    </div>
                </div>
            </div>
        </div>
        <!-- /Add Task Modal -->

        <!-- Edit Task Modal -->
        <div id="edit_task_modal" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Task</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="task_add_form" class="modal-body">

                    </div>
                </div>
            </div>
        </div>
        <!-- /Edit Task Modal -->
        <!-- Delete Project Modal -->
        {% for task in project.task_project.all %}
            <div class="modal custom-modal fade" id="delete_task-{{ task.id }}" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete Task</h3>
                                <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'delete_task_from_board' pk=task.id %}"
                                           class="btn btn-primary continue-btn">Delete</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="javascript:void(0);" data-dismiss="modal"
                                           class="btn btn-primary cancel-btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- /Delete Project Modal -->
        <!-- Delete Project Modal -->
        {% for board in boards %}
            <div class="modal custom-modal fade" id="delete_board-{{ board.id }}" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete Board</h3>
                                <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'delete_board' pk=board.id %}"
                                           class="btn btn-primary continue-btn">Delete</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="javascript:void(0);" data-dismiss="modal"
                                           class="btn btn-primary cancel-btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- /Delete Project Modal -->

        <!-- Assign Leader Modal -->
        <div id="assign_leader" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Assign Leader to this project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <ul class="chat-user-list">
                                {% for member in membersLead %}

                                    <li>
                                        <a href="{% url 'assign_lead_on_board' project=project.id user=member.id %}">
                                            <div class="media">
                                                <span class="avatar">
                                                    {% if member.profile_pic %}
                                                        <img alt="Profile Pic" src="{{ member.profile_pic.url }}">
                                                    {% else %}
                                                        <img src="{% static 'assets/img/user.jpg' %}">
                                                    {% endif %}
                                                </span>
                                                <div class="media-body align-self-center text-nowrap">
                                                    <div class="user-name">{{ member }}</div>
                                                    <span class="designation">{{ member.designation }}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Assign Leader Modal -->

        <!-- Assign User Modal -->
        <div id="assign_user" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Assign the user to this project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <ul class="chat-user-list">
                                {% for member in members %}
                                    <li>
                                        <a href="{% url 'assign_member_on_board' project=project.id user=member.id %}">
                                            <div class="media">
                                                <span class="avatar">
                                                    {% if member.profile_pic %}
                                                        <img alt="Profile Pic" src="{{ member.profile_pic.url }}">
                                                    {% else %}
                                                        <img src="{% static 'assets/img/user.jpg' %}">
                                                    {% endif %}
                                                </span>
                                                <div class="media-body align-self-center text-nowrap">
                                                    <div class="user-name">{{ member }}</div>
                                                    <span class="designation">{{ member.role.last }}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {#								<div class="submit-section">#}
                        {#									<button class="btn btn-primary submit-btn">Submit</button>#}
                        {#								</div>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- /Assign User Modal -->
        <!-- Add Task Modal -->
        <div id="add_card_modal" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Task</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="add_card">

                    </div>
                </div>
            </div>
        </div>
        <!-- /Add Task Modal -->
        <!-- Edit Task Modal -->
        <div id="edit_card_modal" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Task</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="edit_card" class="modal-body">

                    </div>
                </div>
            </div>
        </div>
        <!-- /Edit Task Modal -->
        <!-- Show Card Modal -->
        <div id="show_card_modal" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Task Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="show_card" class="modal-body">

                    </div>
                </div>
            </div>
        </div>
        <!-- /Show Card Modal -->
        <!-- Delete Project Modal -->

        {% for board in boards %}
            {% for card in board.board_cards.all %}
                <div class="modal custom-modal fade" id="delete_card-{{ card.id }}" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="form-header">
                                    <h3>Delete Task</h3>
                                    <p>Are you sure want to delete?</p>
                                </div>
                                <div class="modal-btn delete-action">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="{% url 'delete_card' pk=card.id %}"
                                               class="btn btn-primary continue-btn">Delete</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="javascript:void(0);" data-dismiss="modal"
                                               class="btn btn-primary cancel-btn">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {#        {% for board in boards %}#}
        {#            {% for card in board.board_cards.all %}#}
        {#                <div id="show_card-{{ card.id }}" class="modal custom-modal fade" role="dialog">#}
        {#                    <div class="modal-dialog modal-dialog-centered" role="document">#}
        {#                        <div class="modal-content">#}
        {#                            <div class="modal-header">#}
        {#                                <h5 class="modal-title">Task Detail</h5>#}
        {#                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
        {#                                    <span aria-hidden="true">&times;</span>#}
        {#                                </button>#}
        {#                            </div>#}
        {#                            <div class="modal-body">#}
        {#                                <div class="form-group">#}
        {#                                    <label>Task Name</label>#}
        {#                                    <div class="form-control" readonly>#}
        {#                                        {{ card.name }}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                <div class="form-group">#}
        {#                                    <label>Task Description</label>#}
        {#                                    <div class="form-control" readonly>#}
        {#                                        {{ card.description }}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                <div class="form-group">#}
        {#                                    <label>Task Status</label>#}
        {#                                    <div class="form-control" readonly>#}
        {#                                        {{ card.status }}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                <div class="form-group">#}
        {#                                    <label>Task Priority</label>#}
        {#                                    <div class="form-control" readonly>#}
        {#                                        {{ card.priority }}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                <div class="form-group">#}
        {#                                    <label>Task Progress</label>#}
        {#                                    <div class="form-control" readonly>#}
        {#                                        {{ card.progress }}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                <div class="form-group">#}
        {#                                    <label>Due Date</label>#}
        {#                                    <div class="form-control" readonly>#}
        {#                                        {{ card.due_date }}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                <div class="form-group">#}
        {#                                    <label>Task Assignee</label>#}
        {#                                    <div class="task-follower-list" readonly>#}
        {#                                        {{ card.assign_to }}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                <div class="form-group">#}
        {#                                    <label>Task Followers</label>#}
        {#                                    <div class="task-follower-list" readonly>#}
        {#                                        {{ card.follower }}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#        {% endfor %}#}
    </div>
    <!-- /Page Wrapper -->
{% endblock %}