{% load widget_tweaks %}
<form id="edit_dep_form" action="{% url 'editDepartment' dep.id %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label>Department Name <span class="text-danger">*</span></label>
{#        <input class="form-control" type="text" name="dep_name" required="required">#}
        {% render_field form.name class="form-control" required="required"%}
    </div>
    <div class="submit-section">
        <button type="submit" class="btn btn-primary submit-btn float-right">Save</button>
    </div>
</form>