{% load static %}
{% load widget_tweaks %}
{% load accounts_tags %}
<form method="post" enctype="multipart/form-data" action="{% url 'user_profile_form' user.id %}">{% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="profile-img-wrap edit-img">
                {% if user.profile_pic %}
                    <img id="EditProfilePic" class="inline-block" src="{{ user.profile_pic.url }}"
                         alt="Profile Pic">
                {% else %}
                    <img id="EditProfilePic" class="inline-block" src="{% static 'assets/img/user.jpg' %}"
                         alt="Profile Pic">
                {% endif %}
                <div class="fileupload btn">
                    {% render_field form.profile_pic onchange="previewFile();" %}
                </div>
            </div>

                    <span class="uLabel text-danger center"></span>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name</label>
                        {% render_field form.first_name class="form-control" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        {% render_field form.last_name class="form-control" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Department</label>
                        {% render_field form.department value=form.department.id class="form-control" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Designation</label>
                        {% render_field form.designation class="form-control" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone Number</label>
                        {% render_field form.cell class="form-control" %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Report To</label>
                        {% render_field form.report_to class="form-control" %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Address</label>
                {% render_field form.address class="form-control" %}
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label>Role</label>
                {% render_field form.role class="form-control" %}
            </div>
        </div>
    </div>
    <div class="submit-section">
        <button type="submit" class="btn btn-primary submit-btn uButton">Submit</button>
    </div>
</form>