{% load widget_tweaks %}
<form method="post" action="{% url 'edit_leave_request' pk=pk user=user %}">
    {% csrf_token %}
    {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
    <input class="form-control" hidden value="{{ remaining_days }}" type="text" id="remaining_days_hidden">
    <input class="form-control" hidden value="{{ now }}" type="text" id="to_day_date">
    <div class="form-group">
        <label>Leave Type <span class="text-danger">*</span></label>
        {% render_field form.leave_type class="form-control select" %}
        {% render_field form.leave_type.error %}
    </div>
    <div class="form-group">
        <label>From <span class="text-danger">*</span></label>
        <div class="cal-icon">
            {% render_field form.leave_from class="form-control" %}
            {% render_field form.leave_from.error %}
        </div>
    </div>
    <div class="form-group">
        <label>To <span class="text-danger">*</span></label>
        <div class="cal-icon">
            {% render_field form.leave_to class="form-control" %}
            {% render_field form.leave_to.error %}
        </div>
    </div>
    <div class="form-group">
        <label>Number of days <span class="text-danger">*</span></label>
        {% render_field form.requested_days %}
    </div>
    <div class="form-group">
        <label>Remaining Leaves <span class="text-danger">*</span></label>
        <input class="form-control" readonly value="{{ remaining_days }}" type="text" id="remaining_days">
    </div>
    <div class="form-group">
        <label>Leave Reason <span class="text-danger">*</span></label>
        {% render_field form.reason rows="4" class="form-control" %}
        {% render_field form.reason.error %}
    </div>
    <div class="submit-section">
        <button type="submit" class="btn btn-primary submit-btn float-right">Submit</button>
    </div>
</form>