{% extends 'base_company_settings.html' %}
{% load static %}
{% load accounts_tags %}
{% block title %}Leave Policies {{ block.super }} {% endblock %}
{% block content %}
{% get_company_object user.id %}
	<!-- Page Wrapper -->
            <div class="page-wrapper">

				<!-- Page Content -->
                <div class="content container-fluid">
                    {% include 'messages.html' %}
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Leave Policies</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
									<li class="breadcrumb-item active">Leave Policies</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="{% url 'leavepolicy' %}" class="btn add-btn"><i class="fa fa-plus"></i> Add Leave Policy</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->



					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table datatable">
									<thead>
										<tr>
                                            <th>#</th>
											<th>Name</th>
											<th>Description</th>
											<th>Start Date</th>
											<th>End Date</th>
                                            <th>Cycle Type</th>
											<th>Status</th>
                                            <th>Leave Type</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
                                    {% for leave in leave_policies %}
										<tr>
                                            <td>{{ forloop.counter }}</td>
											<td>
												<h2 class="table-avatar">
													<a class="primary-color-used" href="{% url 'get_leave_type' pk=leave.id %}" >{{ leave.name }}</a>
												</h2>
											</td>
											<td>{{ leave.description }}</td>
											<td>{{leave.cycle_start_date}}</td>
											<td>{{ leave.cycle_end_date }}</td>
                                            <td>{{ leave.cycle_type }}</td>
											<td>
												<div class="dropdown action-label">

													<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="false">
													{% if leave.is_active %}	<i class="fa fa-dot-circle-o text-success"></i>  Active  {% else %} <i class="fa fa-dot-circle-o text-danger"></i> Inactive {% endif %}
													</a>



													<div class="dropdown-menu dropdown-menu-right">
														<a href="{% url 'edit_leave_policy_status' pk=leave.id status='True' %}" class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Active</a>
														<a href="{% url 'edit_leave_policy_status' pk=leave.id status='False' %}" class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Inactive</a>
													</div>
												</div>
											</td>
                                        <td>
                                            <a class="primary-color-used"  href="{% url 'get_leave_type' pk=leave.id %}"><i class="fa fa-folder-open m-r-5"></i></a>
                                        </td>
										<td >
												<a class="primary-color-used"  href="{% url 'edit_leave_policy' pk=leave.id %}" ><i class="fa fa-pencil m-r-5"></i></a>
                                                <a class="primary-color-used" href="javascript:void(0);" data-toggle="modal" data-target="#delete_leave_policy-{{ leave.id }}"><i class="fa fa-trash-o m-r-5"></i></a>

											</td>
										</tr>
                                    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->

				<!-- Delete Salary Modal -->
                {% for leave in leave_policies %}
				<div class="modal custom-modal fade" id="delete_leave_policy-{{ leave.id }}" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Leave Policy</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="{% url 'delete_leave_policy' pk=leave.id %}" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                {%endfor %}
				<!-- /Delete Salary Modal -->


            </div>
			<!-- /Page Wrapper -->
{% endblock %}
