{% load widget_tweaks %}
<form method="post" action="{% url 'equipment_form_edit' pk=equipment_id %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Equipment Name</label>
                {% render_field equipmentForm.name class="form-control" required="required" %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Equipment Id</label>
                {% render_field equipmentForm.equipment_code class="form-control" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Purchase Date</label>
                {% render_field equipmentForm.purchase_date class="form-control" required="required" %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Serial Number</label>
                {% render_field equipmentForm.model_number class="form-control" required="required" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Manufacturer</label>
                {% render_field equipmentForm.manufacturer class="form-control" required="required" %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Model</label>
                {% render_field equipmentForm.model_number class="form-control" required="required" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Value</label>
                {% render_field equipmentForm.price class="form-control" placeholder="$1234" required="required" %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Equipment User</label>
                {% render_field equipmentForm.assign_to class="form-control" %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Description</label>
                {% render_field equipmentForm.description class="form-control" required="required" %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Status</label>
                {% render_field equipmentForm.status class="form-control" %}
            </div>
        </div>
    </div>
    <div class="submit-section">
        <button class="btn btn-primary submit-btn">Submit</button>
    </div>
</form>